<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/index.css">
        <title>BohPJ</title>
    </head>
    <body class="listening_body">
        <header>
            <h1 class="headline">
                <a>リスニング参考書のレコメンド</a>
            </h1>
        </header>
        <form action="" method="POST">
            <div class="question">
                <h2>受験で英語は使いますか？</h2>
                <input type="radio" name="answer1" value="1">はい
                <input type="radio" name="answer1" value="0">いいえ
            </div>
            <div class="question">
                <h2>英語は得意ですか？</h2>
                <input type="radio" name="answer2" value="1">はい
                <input type="radio" name="answer2" value="0">いいえ
            </div>
            <div class="question">
                <h2>英語のレベルはもっと高めたいですか？</h2>
                <input type="radio" name="answer3" value="1">はい
                <input type="radio" name="answer3" value="0">いいえ
            </div>
            <div class="question">
                <h2>問題集のレベルは難しい方がいいですか？</h2>
                <input type="radio" name="answer4" value="1">はい
                <input type="radio" name="answer4" value="0">いいえ
            </div>
            <div class="question">
                <h2>英単語や文法はある程度理解していますか？</h2>
                <input type="radio" name="answer5" value="1">はい
                <input type="radio" name="answer5" value="3">いいえ
            </div>
            <div class="question">
                <h2>答えを見たら大体の解法は理解できますか？</h2>
                <input type="radio" name="answer6" value="-1">はい
                <input type="radio" name="answer6" value="1">いいえ
            </div>
            <div class="question">
                <h2>問題集の価格は気にしてしまいますか？</h2>
                <input type="radio" name="answer7" value="1">はい
                <input type="radio" name="answer7" value="3">いいえ
            </div>
            <div class="question">
                <h2>一定額までなら問題集にお金は出せますか？</h2>
                <input type="radio" name="answer8" value="1">はい
                <input type="radio" name="answer8" value="-1">いいえ
            </div>
            <div class="question">
                <h2>できるだけ1冊の問題集で済ませたいですか？</h2>
                <input type="radio" name="answer9" value="3">はい
                <input type="radio" name="answer9" value="1">いいえ
            </div>
            <div>
                <h2>持ち運びがしやすい方がいいですか？</h2>
                <input type="radio" name="answer10" value="-1">はい
                <input type="radio" name="answer10" value="1">いいえ
            </div>
            <input class="reset flat border4" type="submit" value="送信">
        </form>
    </body>
</html>